<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hobbyking">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dongchimi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".model.MypageTutorRegisterActivity"></activity>
        <activity android:name=".model.LoginActivity" />
        <activity android:name=".model.SignupActivity2" />
        <activity android:name=".model.MypageClasslistActivity" />
        <activity android:name=".model.MypageMyinfoActivity" />
        <activity android:name=".model.ClassaddActivity" />
        <activity android:name=".model.ClassdetailActivity" />
        <activity android:name=".model.MypageActivity" />
        <activity android:name=".model.SignupActivity" />
        <activity android:name=".model.LoginActivityFirebase" />
        <activity android:name=".model.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".model.MainActivity" />
    </application>

</manifest>